      /* css reset */
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      body {
        background-color: white;
      }

      /* side bar  */
      .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        width: 60dvw;
        z-index: 999;
        list-style: none;
        border-top-left-radius: 5px;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        backdrop-filter: blur(20px);
        box-shadow: 1.5px 1px 50px 2px rgba(0, 0, 0, 1);

      }

      .sidebar li {
        height: 60px;
        width: 100%;

      }

      .sidebar a {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        transition: all 10ms ease-out;
      }

      .sidebar li a:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgb(0, 0, 0);
      }

      /* navigation bar: list styling */
      nav {
        position: sticky;
        top: 0;
        box-shadow: 1.5px 1px 40px 0.1px rgba(0, 0, 0, 0.535);
        z-index: 10;
      }

      .navigationBar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        min-width: 100%;
        min-height: 68px;
        /* filter:blur(5px); */
        background: transparent;
        backdrop-filter: blur(25px);
      }

      .navigationBar li a {
        font-size: 18px;
        text-decoration: none;
      }

      #search {
        padding-left: 12px;
        background: transparent;
        color: rgb(0, 0, 0);
        font-size: 18px;
        border: none;
        outline: none;
        min-height: 30px;
        max-width: 120px;
        transition: all 200ms ease-in-out;
      }



      #search:hover {
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        max-width: 600px;
        transform: scale(1.03);
      }

      #search::placeholder {
        font-size: auto;
        color: rgba(0, 0, 0, 0.5);
      }

      /* Logos icons */
      #logo1 img {
        width: 38px;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
      }

      i {
        border-radius: 100%;
        color: rgb(0, 0, 0);
      }

      /* Home section and panel */
      #container1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 28px;
        /* border: 1px solid red; */
        margin: 10px;
        /* background-color: black; */
      }

      .panel {
        display: grid;
        grid-template-rows: 170px auto;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(80, 80, 80, 0.2);
        border-radius: 15px;
        width: 290px;
        height: 310px;
        transition: all 200ms ease-out;
      }

      .panel:hover {
        box-shadow: 1.2px 1px 14px 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }

      .panelContent {
        padding: 10px 8px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

      }

      .Price {
        font-size: 20px;
        display: flex;
        align-items: center;
        height: 90px;
      }

      #panel-1image {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: url(displayimgs/displayimg1.jpg) no-repeat center/cover;
      }

      #panel-2image {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: url(displayimgs/displayimg2.jpg) no-repeat center/cover;
      }

      #panel-3image {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: url(displayimgs/displayimg3.jpg) no-repeat center/cover;
      }

      #panel-4image {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: url(displayimgs/displayimg4.jpg) no-repeat center/cover;
      }

      #panel-5image {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: url(displayimgs/displayimg5.jpg) no-repeat center/cover;
      }


      @media (min-width: 100px) and (max-width: 340px) {
        .navigationBar li a {
          width: 100%;
          font-size: 18px;
        }

        #search {
          font-size: 12px;
          min-height: 25px;
        }

        #logo1 img {
          width: 26px;
        }
      }

      @media (min-width: 341px) and (max-width: 480px) {
        .navigationBar li a {
          width: 100%;
          font-size: 18px;
        }

        #search {
          font-size: 12px;
          max-width: 80px;
          min-height: 26px;
        }

        #logo1 img {
          width: 26px;
        }

        .panel {
          width: 350px;
        }
      }


      @media (min-width: 481px) and (max-width: 770px) {
        .navigationBar li a {
          font-size: 16px;
        }

        #search {
          font-size: 12px;
          /* min-width: 200px; */
          min-height: 28px;
        }
      }

      @media (min-width: 771px) and (max-width: 1440px) {
        .navigationBar li a {
          font-size: 20px;
        }

        #search {
          min-height: 28px;
        }
      }